// you can change colors here
$vp-font: '"Noto Sans SC", "Microsoft Yahei", Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';
$vp-c-accent: #8866E9;
$vp-c-accent-bg: #8866E9;
$vp-c-accent-hover: #8866E9;
// $vp-c-control: (
//   light: #f8f8f8,
//   dark: #21262c,
// );
$vp-c-control-hover: #8866E9;
// $vp-c-text-mute: (
//   light: #3a5169,
//   dark: #a8a8a8,
// );